#compass, #face {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    border: 1px dashed black;
    background-color: aliceblue;
}
body {
    background-color: #333333;
}

#face {
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

#move {
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    width: 30px;
    padding: 3px;
    text-align: center;
}

#debug {
    display: none;
}
